 
 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">


	 <a class="navbar-brand" href="#/">Open Presentation</a>
</div>
  <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
<li class="active"><a href="#"> {{user.username | uppercase}} </a></li>
<li><a href="#"> <img class="img-circle" width="30px" height="30px" src="{{user.img}}" /></a></li> 

            <li><a href="#">Settings</a></li>
            <li><a href="#/profile">Profile</a></li>
            <li><a href="#">Help</a></li>
            <li ng-click="logout()"><a href="#">Sign Out</a></li>
          </ul>

           <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>



</div>
</div>

</nav> <!--END NAV-->
