<div class="page-sidebar navbar-collapse collapse"> <br/><br/><br/>
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">

	 	 
		 
		<li>
			<a href="#/addText">
			<i class="icon-paper-plane"></i>
			<span class="title">Add Text</span>
			</a>
		</li>

		<li>
			<a href="#/addText">
			<i class="icon-paper-plane"></i>
			<span class="title">Menu1</span>
			</a>
		</li>


		<li>
			<a href="#/addText">
			<i class="icon-paper-plane"></i>
			<span class="title">Menu2</span>
			</a>
		</li>


		<li>
			<a href="#/addText">
			<i class="icon-paper-plane"></i>
			<span class="title">Menu3</span>
			</a>
		</li>
	</ul> 
</div>	